html {
  background-color: #000000;
  color: #d1bee5;
  font-family: "8-bit Operator+ Bold";
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "8-bit Operator+ Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/8bitOperatorPlus-Bold.eot") format("eot"),
    url("../fonts/8bitOperatorPlus-Bold.woff") format("woff"),
    url("../fonts/8bitOperatorPlus-Bold.ttf") format("truetype"),
    url("../fonts/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold")
      format("svg");
}
